/* welcome/login page */
.welcome-screen{
    min-height: 100vh;
    overflow: hidden;
    .welcome-section{
      width: 100%;
    }
    .welcome-content{
        border:3px solid $borderclr;
        color:$bodyclr;
        min-height:337px;
        max-width:854px;
        padding:70px 100px;
        width:100%;
        p{
            font-size:20px;
            line-height: 25px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    .logo{
      padding-left: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .loginBtn{
      width:100%;
      padding-top: 40px;
    }
}

.form-login{
 .login-fields{
    width:854px;
    min-height: 252px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .input-group{
      &:first-child{
        margin-bottom:22px;
      }
    }
    input{
      width: 100%;
      border:3px solid $borderclr;
      height: 89px;
      font-size: 20px;
      padding-left: 42px;
      padding-right: 85px;
      color:$bodyclr;
      text-transform: uppercase;
      &::-webkit-input-placeholder { /* Edge */
        color: $bodyclr;
      }

      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $bodyclr;
      }

      &::placeholder {
        color: $bodyclr;
      }
      &:focus{
        background-image: url(../images/active-shape.svg);
        background-position: calc(100% - 20px) center;
        background-repeat: no-repeat;
      }
    }
  }
  .form-submit{
    padding-top: 20px;
    min-height: 97px;
    .btn-module{
      min-width: 153px;
      -webkit-appearance:none;
      appearance:none;
    }
    .link-forgotpw{
      margin-left: 50px;
      color:#D2A59E;
      font-size: 20px;
      transition: all 300ms ease-in-out;
      &:hover, &:focus{
        color:$black;
      }
    }
  }
}

#forgotpw-form{
  display: none;
  &.show-forgotpw{
    display: block;
  }
  .form-submit{
    padding-top: 0;
  }
}

#loginform{
  &.hide-login{
    display: none;
  }
}