.left-content .platform-nav ul li a:after{
    display: none;
}
.left-content .flex-column li a:hover:after, .left-content .flex-column li a:focus:after, .left-content .flex-column li a.active:after {
    opacity: 1;
    visibility: visible;
}
.left-content .flex-column li a:after {
    content: "";
    width: 50px;
    height: 38px;
    background-image: url(../images/active-shape.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    display: inline-block;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 6px;
    right: 100px;
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
}
.product-details-view {
    max-width: 1480px;
    width: 100%;
    margin-left: 0px; 
    border: 2px solid #956A64;
    padding: 28px 25px;
}
.mein_section{
    max-width: 900px;
    width: 100%;
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.mein_section h2 {
    font-size: 16px;
    font-weight: 300;
}
.mein_section a {
    padding-left: 25px;
}
.mein_section .yourname h3,.mein_section .yourname1 h3, .mein_section .yourname2 h3, .mein_section .yourname3 h3, .yournametest h3 {
    font-size: 16px;
    font-weight: 200;
}
.yourname,.yourname1,.yourname2,.yourname3, .yournametest {
    padding-top: 20px;
}
.yourname p, .yourname1 p, .yourname2 p, .yourname3 p, .yournametest p {
    font-size: 12px;
    padding-left: 12px;
}
.yourname2 p {
    margin-bottom: 0px;
}
.yournametest .xero{
    display: block;
}
.yournametest .xero {
    display: block;
    position: relative;
    left: 50px;
    top: auto;
    bottom: 15px;
}
.yourname2 span {
    font-size: 12px;
}