/* variables */
@import "../../global-var.scss";

.btn-new-product{
    display: inline-block;
    margin-bottom: 25px;
    width: 128px;
    flex:0 0 128px;
}
.btn-new-icon{
    padding: 0;
    width: 100%;
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.all-products{
  li:last-child{
    .add-fresh-trigger{
      border:none;
      box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
    }
    .trigger-btn-icon{
      border-color:$purple;
      width:20px;
      border-radius: 5px;
      padding:0px;
    }
  }
}

.add-new-product{
	label{
        @include fsize12();
      }
      .field-group{
        label{
          @include bodycopy1();
          text-transform: uppercase;
          padding-left: 15px;
        }
      }
      .form-group{
        margin-bottom: 0;
        label{
          @include bodycopy1();
          text-transform: uppercase;
          padding-left: 15px;
        }
        .col-sm-6{
          padding-left: 0;
          padding-right: 2.5px;
          &:last-child{
            padding-left:2.5px;
            padding-right: 0;
          }
        }
      }
      .form-control{
        border-radius: 28px;
        height: 35px;
        background-color: #f7f7f7;
        width: 100%;
        border:none !important;
        @include bodycopy1bold();
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color:$black;
        margin-bottom: 5px;

        &:focus{
          outline:none;
          box-shadow: 0 0 0 1px $blue inset;
          background-color: $white;
        }
      }
}