/* CircularStd @font-face kit */
@font-face {
  font-family: "CircularStd";
  src: url("./fonts/CircularStd-Black.eot");
  src: url("./fonts/CircularStd-Black.eot");
  src: url("./fonts/CircularStd-Black.eot");
  src: url("./fonts/CircularStd-Black.eot?#iefix") format("embedded-opentype"),
    url("./fonts/CircularStd-Black.woff") format("woff"), url("./fonts/CircularStd-Black.ttf") format("truetype"),
    url("./fonts/CircularStd-Black.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "CircularStd";
  src: url("./fonts/CircularStd-BlackItalic.eot");
  src: url("./fonts/CircularStd-BlackItalic.eot?#iefix") format("embedded-opentype"),
    url("./fonts/CircularStd-BlackItalic.woff") format("woff"),
    url("./fonts/CircularStd-BlackItalic.ttf") format("truetype"),
    url("./fonts/CircularStd-BlackItalic.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "CircularStd";
  src: url("./fonts/CircularStd-Bold.eot");
  src: url("./fonts/CircularStd-Bold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/CircularStd-Bold.woff") format("woff"), url("./fonts/CircularStd-Bold.ttf") format("truetype"),
    url("./fonts/CircularStd-Bold.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "CircularStd";
  src: url("./fonts/CircularStd-BoldItalic.eot");
  src: url("./fonts/CircularStd-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("./fonts/CircularStd-BoldItalic.woff") format("woff"),
    url("./fonts/CircularStd-BoldItalic.ttf") format("truetype"),
    url("./fonts/CircularStd-BoldItalic.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "CircularStd";
  src: url("./fonts/CircularStd-Medium.eot");
  src: url("./fonts/CircularStd-Medium.eot?#iefix") format("embedded-opentype"),
    url("./fonts/CircularStd-Medium.woff") format("woff"), url("./fonts/CircularStd-Medium.ttf") format("truetype"),
    url("./fonts/CircularStd-Medium.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "CircularStd";
  src: url("./fonts/CircularStd-MediumItalic.eot");
  src: url("./fonts/CircularStd-MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("./fonts/CircularStd-MediumItalic.woff") format("woff"),
    url("./fonts/CircularStd-MediumItalic.ttf") format("truetype"),
    url("./fonts/CircularStd-MediumItalic.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "CircularStd";
  src: url("./fonts/CircularStd-Book.eot");
  src: url("./fonts/CircularStd-Book.eot?#iefix") format("embedded-opentype"),
    url("./fonts/CircularStd-Book.woff") format("woff"), url("./fonts/CircularStd-Book.ttf") format("truetype"),
    url("./fonts/CircularStd-Book.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CircularStd";
  src: url("./fonts/CircularStd-BookItalic.eot");
  src: url("./fonts/CircularStd-BookItalic.eot?#iefix") format("embedded-opentype"),
    url("./fonts/CircularStd-BookItalic.woff") format("woff"),
    url("./fonts/CircularStd-BookItalic.ttf") format("truetype"),
    url("./fonts/CircularStd-BookItalic.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 400;
  font-style: italic;
}

body {
  background: #efc9c3;
  font-family: "CircularStd", Helvetica, sans-serif;
  font-weight: 400;
}

p {
  font-family: "CircularStd", Helvetica, sans-serif;
}

a:hover {
  text-decoration: none;
}

/*.btn-module {
  display: inline-block;
  border: 3px solid #D2A59E;
  font-size: 20px;
  min-width: 248px;
  min-height: 89px;
  line-height: 89px;
  color: #956A64;
  text-align: center;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  font-family: "CircularStd", Helvetica, sans-serif;
  background-color: transparent;
}

.btn-module:hover, .btn-module:focus {
  text-decoration: none;
  background: #fff;
  color: #EFC9C3;
}*/

/*.welcome-screen {
  min-height: 100vh;
}

.welcome-screen .welcome-section {
  width: 100%;
}

.welcome-screen .welcome-content {
  border: 3px solid #D2A59E;
  color: #956A64;
  min-height: 337px;
  max-width: 854px;
  padding: 70px 100px;
  width: 100%;
}

.welcome-screen .welcome-content p {
  font-size: 20px;
  line-height: 25px;
}

.welcome-screen .welcome-content p:last-child {
  margin-bottom: 0;
}

.welcome-screen .logo {
  padding-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.welcome-screen .loginBtn {
  width: 100%;
  padding-top: 40px;
}

.form-login .login-fields {
  width: 854px;
}

.form-login .login-fields .input-group:first-child {
  margin-bottom: 22px;
}

.form-login .login-fields input {
  width: 100%;
  border: 3px solid #D2A59E;
  height: 89px;
  font-size: 20px;
  padding-left: 42px;
  padding-right: 85px;
  color: #3D6857 !important;
  text-transform: uppercase;
}

.form-login .login-fields input::-webkit-input-placeholder {
  color: #3D6857;
}

.form-login .login-fields input:-ms-input-placeholder {
  color: #3D6857;
}

.form-login .login-fields input::-ms-input-placeholder {
  color: #3D6857;
}

.form-login .login-fields input::placeholder {
  color: #3D6857;
}

.form-login .login-fields input:focus {
  background-image: url(./images/active-shape.svg);
  background-position: calc(100% - 20px) center;
  background-repeat: no-repeat;
}

.form-login .form-submit {
  padding-top: 20px;
}

.form-login .form-submit .btn-module {
  min-width: 153px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-login .form-submit .link-forgotpw {
  margin-left: 50px;
  color: #3D6857;
  font-size: 20px;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.form-login .form-submit .link-forgotpw:hover, .form-login .form-submit .link-forgotpw:focus {
  color: #000;
}
*/

.welcome-screen {
  min-height: 100vh;
  overflow: hidden;
}

.welcome-screen .welcome-section {
  width: 100%;
}

.welcome-screen .welcome-content {
  border: 2px solid #956a64;
  color: #956a64;
  min-height: 232px;
  max-width: 565px;
  padding: 50px 65px;
  width: 100%;
}

.welcome-screen .welcome-content p {
  font-size: 16px;
  line-height: 20px;
}

.welcome-screen .welcome-content p:last-child {
  margin-bottom: 0;
}

.welcome-screen .logo {
  padding-left: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.welcome-screen .logo img {
  max-width: 20px;
  width: 100%;
}

.welcome-screen .loginBtn {
  width: 100%;
  padding-top: 25px;
}

.welcome-screen .loginBtn a {
  display: inline-block;
  border: 2px solid #d2a59e;
  font-size: 16px;
  min-width: 160px;
  min-height: 59px;
  line-height: 59px;
  color: #956a64;
  text-align: center;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  font-family: Arial, Helvetica, sans-serif;
}

.welcome-screen .loginBtn a:hover,
.welcome-screen .loginBtn a:focus {
  background-color: #fff;
}

.form-login .login-fields {
  width: 600px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.form-login .login-fields .input-group:first-child {
  margin-bottom: 22px;
}

.form-login .login-fields input {
  width: 100%;
  border: 1px solid #956a64;
  height: 55px;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 85px;
  color: #3d6857;
  text-transform: uppercase;
  border-radius: 0;
}

.admin-panel .form-login .login-fields input {
  border-color: #3d6857;
}

.admin-panel .form-login .login-fields input::-webkit-input-placeholder {
  /* Edge */
  color: #3d6857 !important;
}

.admin-panel .form-login .login-fields input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #3d6857 !important;
}

.admin-panel .form-login .login-fields input::placeholder {
  color: #3d6857 !important;
}

.form-login .login-fields input:focus {
  background-image: url(./images/active-shape.svg);
  background-position: calc(100% - 20px) 50%;
  background-repeat: no-repeat;
  background-size: 40px;
}

.admin-panel .form-login .login-fields input:focus {
  background-image: url(./images/active-shape-green.svg);
}

.form-login .form-submit {
  padding-top: 20px;
}
.form-login.forgot-pw .form-submit {
  padding-top: 0;
}

.form-login .form-submit .btn-module,
.form-login .form-submit .btn-module-black {
  min-width: 120px !important;
  padding: 15px 20px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
  color: #956a64;
}

.admin-panel .form-login .form-submit .btn-module,
.admin-panel .form-login .form-submit .btn-module-black {
  color: #3d6857;
}

.form-login .form-submit .link-forgotpw {
  margin-left: 30px;
  color: #d2a59e;
  font-size: 14px;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.form-login .form-submit .link-forgotpw:hover,
.form-login .form-submit .link-forgotpw:focus {
  color: #000;
}

.admin-panel .form-login .link-forgotpw {
  color: #3d6857;
}

#forgotpw-form {
  display: none;
}

#forgotpw-form.show-forgotpw {
  display: block;
}

#forgotpw-form .form-submit {
  padding-top: 0;
}

#loginform.hide-login {
  display: none;
}
